<span>Post a new article:</span>
<hr>
<form action="/article" method="post" enctype="application/x-www-form-urlencoded">
  Title:<br>
  <input type="text" name="title"><br>
  Author:<br>
  <input type="text" name="author"><br>
  Body:<br>
  <input type="text" name="body"><br><br>
  <input type="submit">
</form>
{{#if error}}
  <p>{{error}}</p>
{{/if}}
<hr>
